html,
body,
ul,
li {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #eaeaea;
}

.container {
	width: 960px;
	border: 1px solid red;
}

header {
	height: auto;
	display: flex;
	background-color: #FFF;
	padding: 10px;
}

.header-right {
	width: 50%;
	border: 1px solid #CCC;
	float: right;
}

.header-left {
	width: 50%;
	border: 1px solid #ccc;
}

.list-unstyled {
	list-style: none;
	padding: 10px;
}

.list-unstyled > li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #DDD;
	cursor: pointer;
}

.list-unstyled > li:hover {
	background-color: #DDC;
}

.header-right > img {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	vertical-align: middle;
}

.nav-button {
	color: black;
}

.menu-item {
	border-right: 1px solid #000;
	padding-right: 10px;
}

.is-selected {
	color: red;
}

.js-section {
	display: none;
}

.is-shown {
	display: block;
}

main {
	margin: 10px;
	border: 1px solid #ccc;
	height: 500px;
	width: 100%;
}

footer {
	height: 50px;
	background-color: #FFF;
	position:fixed;
	bottom: 0;
	left: 0;
	border: 1px solid #ddd;
	width: 100%;
}

.search-result-hide {
	display: none;
}

.search-result-show {
	display: block;
}
